{% extends "base.html" %}

{% block title %}BTC Map Admin - Select Area{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Get Area</h1>

    <form method="POST" action="{{ url_for('show_area') }}">
        <div class="form-group">
            <label for="area_id_get">Select Area</label>
            <select class="form-control" id="area_id_get" name="area_id" required>
                <option value="">-- Select an Area --</option>
                {% for area in areas %}
                    <option value="{{ area.id }}">{{ area.tags.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Get Area</button>
    </form>
</div>
{% endblock %}